<% 
var headContent = {
	include("/pages/template/head.html"){}
%>
<script type="text/javascript">
	var oper ;
	jQuery(function($) {
		oper = new flyfox("contact", "联系人");
	});
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post" class="form-horizontal"
		role="form" onsubmit="oper.save(${model.id});">
	<input type="hidden" name="model.id" value="${model.id}" />
	<table class="table">
		<% // 列表头部 %>
			<tr>
				<td>姓名</td>
				<td>
						<input class="form-control" type="text" name="model.name" value="${model.name}" required='required' />
				</td>
			</tr>
					<tr>
				<td>手机号</td>
				<td>
						<input class="form-control" type="text" name="model.phone" value="${model.phone}"  />
				</td>
			</tr>
					<tr>
				<td>Email</td>
				<td>
						<input class="form-control" type="EMAIL" name="model.email" value="${model.email}"  />
				</td>
			</tr>
					<tr>
				<td>地址</td>
				<td>
						<input class="form-control" type="text" name="model.addr" value="${model.addr}"  />
				</td>
			</tr>
					<tr>
				<td>生日</td>
				<td>
						<input class="form-control" type="DATE" name="model.birthday" value="${model.birthday}"  />
				</td>
			</tr>
					<tr>
				<td>说明</td>
				<td>
					<textarea class="form-control" rows="3" cols="30" name="model.remark">${model.remark}</textarea>
				</td>
			</tr>
		 
		<tr>
			<td></td>
			<td>
			<input type="submit" value="保 存" class="btn btn-default">
			<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
			</td>
		</tr>
	</table>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>


