<% 
DIRECTIVE SAFE_OUTPUT_OPEN;
var headContent = {
	include("/pages/template/head.html"){}
	include("/static/component/include/my97.html"){}
%>
<script type="text/javascript">
	function oper_save() {
		form1.action = "dict/save_dict/"+form1["model.dict_id"].value;
		form1.submit();
	}
	
	function oper_del() {
		form1.action = "dict/delete_dict/"+form1["model.dict_id"].value;
		form1.submit();
	}
</script>

<%
};
var bodyContent = {
%>
<form name="form1" action="" method="post">
	<input type="hidden" name="model.dict_id" value="${item.dict_id}" />
	<!-- 数据列表 -->
	<table class="table">
		<tr>
			<td>类型</td>
			<td>
				<input type="text" name="model.dict_type"  ${(item.dict_id!0)>0?'readonly="readonly"':''} value="${item.dict_type}" />
			</td>
		</tr>
		<tr>
			<td>名称</td>
			<td><input type="text" name="model.dict_name" value="${item.dict_name}" /></td>
		</tr>
		<tr>
			<td>备注</td>
			<td><input type="text" name="model.dict_remark" value="${item.dict_remark}" /></td>
		</tr>
		<td></td>
		<td>
		<button class="btn btn-default" onclick="oper_save();">保 存</button>
		<% if ((item.dict_id!0) > 0 ) {%>
			<button class="btn btn-default" onclick="oper_del();">删 除</button>
		<% } %>
		<button class="btn btn-default" onclick="closeIframe();">关 闭</button>
		</td>
	</table>
</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} 
DIRECTIVE SAFE_OUTPUT_CLOSE;
%>

