html {
	background: url(bamboo.jpg) left top repeat;
}

.mod-diary-top {
	width: 990px;
	height: 22px;
	background: url(leather-top.png) no-repeat;
}

.mod-diary {
	margin: 75px auto 20px;
	width: 990px;
	background: url(leather-tile.jpg) repeat-y;
}

.mod-diary-inner {
	position: relative;
	margin: 7px 25px 0;
	padding: 130px 0 60px;
	padding-top: 200px\9; /** 兼容IE8 **/
	width: 940px;
	min-height: 300px;
	_height: 300px;
	background: #fcf8e9 url(paper.png) repeat-y;
}

.mod-diary-pen {
	position: absolute;
	left: 10px;
	top: 15px;
	width: 53px;
	height: 465px;
	background: url(pen.png) no-repeat;
}

.mod-diary-nav {
	position: absolute;
	left: -27px;
	top: 120px;
	width: 955px;
	height: 71px;
	background: url(nav.png) no-repeat;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,
		src="nav.png");
}

.mod-diary-clip {
	position: absolute;
	right: -21px;
	top: 10px;
	width: 23px;
	height: 256px;
	background: url(clip.png) no-repeat;
}

.mod-diary-bottom {
	width: 990px;
	height: 23px;
	background: url(leather-bottom.png) no-repeat;
}

.mod-topspaceinfo h1 {
	position: absolute;
	left: 0;
	top: 5px;
	margin:15px 0 0 0;
	padding:0px;
	width: 940px;
	height: 90px;
	overflow: hidden;
	font-size: 50px;
	line-height: 90px;
	font-weight: normal;
	text-align: center;
	font-family: tahoma, helvetica, "Microsoft Yahei", "微软雅黑", arial;
}

.mod-topspaceinfo .space-name {
	font-family: tahoma, helvetica, "Microsoft Yahei", "微软雅黑", arial;
	zoom: 1;
	color: #8cab4e;
	text-decoration: none;
}

.mod-topspaceinfo .space-description {
	position: absolute;
	left: 118px;
	top: 137px;
	width: 770px;
	height: 36px;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	font-family: Tahoma, Arial, Helvetica, STHeiti;
}

.mod-bloglist{
	display: block;
}

.mod-blogitem {
	position: relative;
	top: 15px;
	left: 0px;
	margin-top: 70px;
	width: 940px;
}

.mod-blogitem .box-postdate {
	float:left;
	margin-left: 73px;
	margin-top: 5px;
	padding:0;
	width: 110px;
	height: 18px;
	line-height: 18px;
	color: #9f5e41;
	text-align: left;
	zoom: 1;
	font-style: italic;
}

.mod-blogitem .item-title {
	float:left;
	margin-left: 5px;
	margin-top: 3px;
	width: 722px;
	line-height: 24px;
	overflow: hidden;
}

.mod-blogitem .item-title a {
	font-family: tahoma, helvetica, "Microsoft Yahei", "微软雅黑", arial;
	font-size: 20px;
	color: #8cab4e;
	zoom: 1;
	text-decoration: none;
}

.mod-blogitem .item-content {
	width: 722px;
	margin-top: 5px;
	margin-left: 188px;
	font-size: 12px;
	line-height: 24px;
	overflow: hidden;
}


.content-other-info {
	position: absolute;
	top: 3px;
	left: -110px;
	width: 110px;
	height: 18px;
	line-height: 18px;
	color: #9f5e41;
	text-align: left;
	zoom: 1;
	font-style: italic;
}