<% 
	var headContent = {
	include("/pages/template/head.html"){}
	include("/static/component/include/umeditor.html"){}
%>

<script type="text/javascript">
	function oper_save() {
		form1.action = "article/save_content/"+form1["model.id"].value;
		form1.submit();
	}
	
	$(document).ready(function(){
		UM.getEditor('editor');
	});
</script>
<%
};
var bodyContent = {
%>
	<form name="form1" action="" method="post">
		<input type="hidden" name="model.id" value="${model.id}" />
		<!-- 数据列表 -->
		<div>
			<script id="editor" type="text/plain" name="model.content" style="width:100%;height:440px;">${model.content}</script>
		</div>
		
		<div style="height: 50px;clear: both;">&nbsp;</div>
		<nav class="navbar navbar-default navbar-fixed-bottom">
		  <div class="container" style="padding: 5px 0px 5px 0px;text-align: center;">
			<button class="btn btn-primary" onclick="return oper_save(${model.id!'0'});">保 存</button>
			<button class="btn btn-default" onclick="closeIframe();return false;">关 闭</button>
		  </div>
		</nav>
	</form>
<%}; %>

<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>

