* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/login/bg_1.png');
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 45px;
	margin-left: 32px;
}

ul li {
	list-style-type: none;
	height: 35px;
	line-height: 35px;
}

.main {
	width: 352px;
	height: 246px;
	background: #bfeaff;
	position: absolute;
	right: 205px;
	top: 260px;
	z-index: 101;
}

.main .top {
	width: 352px;
	height: 20px;
	background: url('../images/login/top_352_20.png')
}

.main .middle {
	width: 352px;
	height: 198px;
}

.main .left {
	width: 31px;
	height: 198px;
	background: url('../images/login/left_31_198.png');
	float: left;
}

.main .center {
	width: 281px;
	height: 198px;
	background: #bfeaff;
	float: left;
}

.main .right {
	width: 40px;
	height: 198px;
	background: url('../images/login/right_40_198.png');
	float: left;
}

.main .bottom {
	width: 352px;
	height: 28px;
	background: url('../images/login/bottom_352_28.png');
}

.label_txt {
	line-height: 35px;
	vertical-align: middle;
	width: 50px;
	height: 34px;
	text-align: right;
	display: -moz-inline-box;
	display: inline-block;
	padding-bottom: 3px;
	padding-right: 10px;
	font-weight: 300;
	font-family: '微软雅黑';
	font-size: 16px;
}

.input_txt {
	line-height: 29px;
	overflow: hidden;
	border: 0px;
	color: #999999;
	width: 173px;
	height: 29px;
	background: url('../images/login/input_txt.png');
	font-weight: 300;
	font-family: '微软雅黑';
	font-size: 14px;
	padding-left: 15px;
}

.btn {
	width: 101px;
	height: 44px;
	background: url('../images/login/btn.png');
	margin-left: 50px;
	display: -moz-inline-box;
	display: inline-block;
}

.btn_over {
	width: 101px;
	height: 44px;
	background: url('../images/login/btn_over.png');
	margin-left: 50px;
	display: -moz-inline-box;
	display: inline-block;
}

.logo {
	width: 416px;
	height: 144px;
	position: absolute;
	right: 30px;
	top: 205px;
	font-family: '微软雅黑';
	font-size: 28px;
	z-index: 100;
	color: #3C8BE9;
}

.gis {
	width: 416px;
	height: 144px;
	background: url('../images/login/gis_416_144.png');
	position: absolute;
	right: 685px;
	top: 130px;
	z-index: 100;
}

.earth {
	width: 372px;
	height: 368px;
	background: url('../images/login/earth_372_368.png');
	position: absolute;
	right: 705px;
	top: 190px;
	z-index: 100;
}