/*
    quick css 
    version:0.6
    author:http://quick.58img.com
    work:IE7+ï¼ŒChrome,Firefox
    update:2013-08-05
*/

/*----------------------------------------reset.css----------------------------------------*/
html {
	color: #000;
	background: #FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details
	{
	display: block;
}

audio,canvas,video {
	display: inline-block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym {
	border: 0;
	font-variant: normal;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,textarea,select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

legend {
	color: #000;
}
/*----------------------------------------base.css----------------------------------------*/
body {
	font-family: 'Segoe UI', 'Lucida Grande', Verdana, Arial, Helvetica,
		sans-serif;
	color: #2a2a2a;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #4d87c7;
}

a:hover {
	color: #04c;
}

p {
	margin: 0 0 10px 0;
	line-height: 20px;
}

img {
	display: block;
	margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
	padding: 10px 0;
}

h1 {
	font-size: 38.5px;
}

h2 {
	font-size: 31.5px;
}

h3 {
	font-size: 24.5px;
}

h4 {
	font-size: 17.5px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 11.9px;
}

ul>li,ol>li {
	line-height: 25px;
}

code {
	padding: 2px 4px;
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 3px;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-blue {
	color: #00509d;
}

.text-red {
	color: #A40000;
}

.text-green {
	color: #55a56b;
}

.x1-large {
	width: 40%;
}

.x2-large {
	width: 60%;
}

.x3-large {
	width: 80%;
}

.x4-large {
	width: 100%;
}
/*----------------------------------------grid.css----------------------------------------*/
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.grid {
	display: table;
	table-layout: fixed;
	width: 100%;
	list-style-type: none;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}

[class*='col-'] {
	float: left;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.box {
	padding: 20px;
}

.x1-m-box {
	margin: 10px;
}

.ml10 {
	margin-left: 10px;
}

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-offset-1-2 {
	margin-left: 50%;
}

.col-1-3 {
	width: 33.33333%;
}

.col-offset-1-3 {
	margin-left: 33.33333%;
}

.col-2-3 {
	width: 66.66667%;
}

.col-offset-2-3 {
	margin-left: 66.66667%;
}

.col-1-4 {
	width: 25%;
}

.col-offset-1-4 {
	margin-left: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-offset-3-4 {
	margin-left: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-offset-1-5 {
	margin-left: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-offset-2-5 {
	margin-left: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-offset-3-5 {
	margin-left: 60%;
}

.col-4-5 {
	width: 80%;
}

.col-offset-4-5 {
	margin-left: 80%;
}

.col-1-6 {
	width: 16.66667%;
}

.col-offset-1-6 {
	margin-left: 16.66667%;
}

.col-5-6 {
	width: 83.33333%;
}

.col-offset-5-6 {
	margin-left: 83.33333%;
}

.col-1-7 {
	width: 14.28571%;
}

.col-offset-1-7 {
	margin-left: 14.28571%;
}

.col-2-7 {
	width: 28.57143%;
}

.col-offset-2-7 {
	margin-left: 28.57143%;
}

.col-3-7 {
	width: 42.85714%;
}

.col-offset-3-7 {
	margin-left: 42.85714%;
}

.col-4-7 {
	width: 57.14286%;
}

.col-offset-4-7 {
	margin-left: 57.14286%;
}

.col-5-7 {
	width: 71.42857%;
}

.col-offset-5-7 {
	margin-left: 71.42857%;
}

.col-6-7 {
	width: 85.71429%;
}

.col-offset-6-7 {
	margin-left: 85.71429%;
}

.col-1-8 {
	width: 12.5%;
}

.col-offset-1-8 {
	margin-left: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-offset-3-8 {
	margin-left: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-offset-5-8 {
	margin-left: 62.5%;
}

.col-7-8 {
	width: 87.5%;
}

.col-offset-7-8 {
	margin-left: 87.5%;
}

.col-1-9 {
	width: 11.11111%;
}

.col-offset-1-9 {
	margin-left: 11.11111%;
}

.col-2-9 {
	width: 22.22222%;
}

.col-offset-2-9 {
	margin-left: 22.22222%;
}

.col-4-9 {
	width: 44.44444%;
}

.col-offset-4-9 {
	margin-left: 44.44444%;
}

.col-5-9 {
	width: 55.55556%;
}

.col-offset-5-9 {
	margin-left: 55.55556%;
}

.col-6-9 {
	width: 66.66667%;
}

.col-offset-6-9 {
	margin-left: 66.66667%;
}

.col-7-9 {
	width: 77.77778%;
}

.col-offset-7-9 {
	margin-left: 77.77778%;
}

.col-8-9 {
	width: 88.88889%;
}

.col-offset-8-9 {
	margin-left: 88.88889%;
}

.col-1-10 {
	width: 10%;
}

.col-offset-1-10 {
	margin-left: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-offset-3-10 {
	margin-left: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-offset-7-10 {
	margin-left: 70%;
}

.col-9-10 {
	width: 90%;
}

.col-offset-9-10 {
	margin-left: 90%;
}

.col-1-11 {
	width: 9.09091%;
}

.col-offset-1-11 {
	margin-left: 9.09091%;
}

.col-2-11 {
	width: 18.18182%;
}

.col-offset-2-11 {
	margin-left: 18.18182%;
}

.col-3-11 {
	width: 27.27273%;
}

.col-offset-3-11 {
	margin-left: 27.27273%;
}

.col-4-11 {
	width: 36.36364%;
}

.col-offset-4-11 {
	margin-left: 36.36364%;
}

.col-5-11 {
	width: 45.45455%;
}

.col-offset-5-11 {
	margin-left: 45.45455%;
}

.col-6-11 {
	width: 54.54545%;
}

.col-offset-6-11 {
	margin-left: 54.54545%;
}

.col-7-11 {
	width: 63.63636%;
}

.col-offset-7-11 {
	margin-left: 63.63636%;
}

.col-8-11 {
	width: 72.72727%;
}

.col-offset-8-11 {
	margin-left: 72.72727%;
}

.col-9-11 {
	width: 81.81818%;
}

.col-offset-9-11 {
	margin-left: 81.81818%;
}

.col-10-11 {
	width: 90.90909%;
}

.col-offset-10-11 {
	margin-left: 90.90909%;
}

.col-1-12 {
	width: 8.33333%;
}

.col-offset-1-12 {
	margin-left: 8.33333%;
}

.col-5-12 {
	width: 41.66667%;
}

.col-offset-5-12 {
	margin-left: 41.66667%;
}

.col-7-12 {
	width: 58.33333%;
}

.col-offset-7-12 {
	margin-left: 58.33333%;
}

.col-9-12 {
	width: 75%;
}

.col-offset-9-12 {
	margin-left: 75%;
}

.col-11-12 {
	width: 91.66667%;
}

.col-offset-11-12 {
	margin-left: 91.66667%;
}

@media handheld , only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/*----------------------------------------button.css----------------------------------------*/
.button,button,submit,input[type="button"],input[type="submit"] {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

.button,button,input[type="button"],input[type="submit"] {
	padding: 10px 18px;
	background-color: #f5f5f5;
	color: #333;
	display: inline-block;
	border-radius: 5px 5px;
	cursor: pointer;
	margin: 5px;
}

.button:hover,button:hover,input[type="button"]:hover,input[type="submit"]:hover
	{
	background-color: #e3e3e3;
	color: #444;
}

.button-blue {
	background-color: #0079bc;
	color: #fff;
}

.button-blue:hover {
	background-color: #00509d;
	color: #fff;
}

.button-red {
	background-color: #E64346;
	color: #fff;
}

.button-red:hover {
	background-color: #A40000;
	color: #fff;
}

.button-green {
	background-color: #93d090;
	color: #fff;
}

.button-green:hover {
	background-color: #55a56b;
	color: #fff;
}

/*----------------------------------------tabel.css----------------------------------------*/
.table {
	width: 100%;
	margin: 0 0 20px;
}

caption {
	padding: 10px;
	background: #f6f6f6;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
}

.table th,.table td {
	line-height: 18px;
	padding: 8px;
	text-align: left;
}

.table th {
	font-weight: bold;
}

.table td {
	border-top: 1px #ccc solid;
}

.table-cleanline td {
	border-top: 0;
}

.table-bordered {
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #ccc;
}

.table-bordered th,.table-bordered td {
	border-right: 1px #ccc solid;
}

.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th
	{
	background: #f6f6f6;
}

/*----------------------------------------form.css----------------------------------------*/
input[type="text"],input[type="password"],textarea,select {
	min-height: 34px;
	min-width: 230px;
	padding: 8px;
	outline: none;
	color: #333;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right center;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in 0;
	vertical-align: middle;
	color: #333;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

input[type="radio"],input[type="checkbox"] {
	float: left;
	margin: 1px 5px 0 0;
}

.form {
	margin: 15px 0;
}

.form legend {
	display: block;
	font-size: 28px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	width: 100%;
	margin: 10px 0;
	padding: 10px 0;
}

.form input[type="text"],.form input[type="password"],.form[type="checkbox"],.form button,.form a.button,.form label,.form a,.form span
	{
	display: inline-block;
	margin-right: 8px;
}

.form-stacked label {
	display: block;
	margin: 10px 0;
}

.form-aligned .control {
	margin-top: 15px;
	display: block;
	clear: both;
}

.form-aligned .control label {
	min-width: 80px;
	text-align: right;
}
/*----------------------------------------menu.css----------------------------------------*/
.menu-stacked {
	
}

.menu-stacked ul {
	border: 1px solid #f5f5f5;
}

.menu-stacked ul li a {
	line-height: 40px;
	display: block;
	padding-left: 15px;
}

.menu-stacked ul li a i {
	padding: 0 5px;
}

.menu-stacked ul li a:hover,.menu-stacked ul li.active a {
	background-color: #f5f5f5;
	color: #333;
}

.menu-horizontal {
	
}

.menu-horizontal ul {
	
}

.menu-horizontal ul li {
	float: left;
}

.menu-horizontal ul li a {
	display: block;
	padding: 8px 20px;
}

.menu-horizontal ul li a i {
	padding: 0 5px;
}

.menu-horizontal ul li.active a,.menu-horizontal ul li a:hover {
	background-color: #f5f5f5;
	color: #333;
}
/*----------------------------------------block.css----------------------------------------*/
.block {
	padding: 20px 15px;
	color: #333;
}

.block-grey {
	background-color: #e3e3e3;
	color: #444;
}

.block-blue {
	background-color: #00509d;
	color: #fff;
}

.block-red {
	background-color: #A40000;
	color: #fff;
}

.block-green {
	background-color: #55a56b;
	color: #fff;
}
/*----------------------------------------progress.css----------------------------------------*/
.progress {
	width: 100%;
	background-color: #f5f5f5;
	height: 20px;
	border-radius: 4px;
	margin-bottom: 15px;
}

.progress-blue {
	background-color: #00509d;
	height: 20px;
	color: #fff;
	border-radius: 4px;
}

.progress-red {
	background-color: #A40000;
	height: 20px;
	color: #fff;
	border-radius: 4px;
}

.progress-green {
	background-color: #55a56b;
	height: 20px;
	color: #fff;
	border-radius: 4px;
}
/*----------------------------------------label.css----------------------------------------*/
.label {
	line-height: 20px;
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0 10px;
	border-radius: 10px;
	background: #f5f5f5;
	color: #333;
	text-decoration: none;
}

.label:hover {
	background-color: #e3e3e3;
	color: #444;
}

.label-blue {
	background-color: #0079bc;
	color: #fff;
}

.label-blue:hover {
	background-color: #00509d;
	color: #fff;
}

.label-red {
	background-color: #E64346;
	color: #fff;
}

.label-red:hover {
	background-color: #A40000;
	color: #fff;
}

.label-green {
	background-color: #93d090;
	color: #fff;
}

.label-green:hover {
	background-color: #55a56b;
	color: #fff;
}