<% 
	var headContent = {
%>
	<base href="${BASE_PATH }">
	<title>Jflyfox博客</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" href="favicon.ico" />
	<link rel="shortcut icon" href="favicon.ico" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="Jflyfox博客">
	<meta http-equiv="description" content="Jflyfox博客">

	<link rel="stylesheet" href="static/web/home.css" type="text/css" media="screen, projection">

	<% include("/static/component/include/jquery.html"){} %>
	<script type="text/javascript" src="pages/web/home.js"></script>
	<script type="text/javascript" src="pages/web/show_article.js"></script>
<%
};

var bodyContent = {
%>
	<input type="hidden" name="article_id" value="${item.id}">
	<div class="x-page-container">
		<div class="mod-diary">
			<div class="mod-diary-top"></div>
			<div class="mod-diary-inner">
				<div class="mod-diary-pen"></div>
				<div class="mod-diary-nav"></div>
				<div class="mod-diary-clip"></div>
				<div class="mod-topspaceinfo">
					<h1>
						<a class="space-name" href="javascript:void(0);">${model.content }</a>
					</h1>
				</div>

				<div class="mod-bloglist">
					<div class="mod-blogitem">
						<div class="box-postdate">
						${item.publish_time!''}
						</div>
						<div class="item-title">
							<a href="javascript:void(0);">${item.title}</a>
							<div class="item-right"><span>浏览量(${item.count_view!'0'})</span><span>评论(${item.count_comment!'0'})</span></div>
						</div>
						<div class="item-content">${item.content!'' }</div>
					</div>
				</div>
				
				<% if(item.is_comment=='1'){ %>
				<div class="mod-bloglist">
					<div class="mod-blogcommentitem">
					<% if(!isEmpty(session.session_user)){ %>
					<div class="comment-inner ">
						<div class="comment-title">评论</div>
						<textarea class="comment-textarea" name="comment"></textarea>
						<div class="comment-btn">
							<input id="comment-btn" type="button" value="发  布"  class="btn" style="background-color: #FF9933;"/>
						</div>
					</div>
					<% } else { %>
					<div class="comment-inner ">
						<div class="comment-title">没有<a href="web/login">登陆</a>不能评论</div>
					</div>
					<% } %>
					<div class="comment-list">
					
						<% for(comment in listComment){ %>
						<div class="comment-item" id="${comment.id}_${comment.article_id}">
							<div style="float:none;line-height: 24px;overflow: visible;">
							<div class="item-top">
								<a href="#"><img alt="" src="static/images/user/user.png" /></a>
								<a href="#" class="user-name">${flyfox.getUserName(comment.create_id)}</a>
								<span>${comment.content}</span>
							</div>
							</div>
							<div class="item-bottom">
								<span>${comment.create_time}</span>
								<% if(!isEmpty(session.session_user) && comment.create_id==session.session_user.userid){ %>
									<a href="javascript:oper_del_comment(${comment.id},${comment.article_id});" style="float: right;">删除</a>
								<% } %>
							</div>
						</div>
						<%  } %>
						
					</div>
					
					</div>
					
				</div>
				<% } %>
				
			</div>
			<div class="mod-diary-bottom"></div>
		</div>
	</div>
	
	<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
