<% var headContent = { %>
		<base href="${BASE_PATH }">
		<title>Jflyfox博客</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="icon" href="favicon.ico" />
		<link rel="shortcut icon" href="favicon.ico" />
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="cache-control" content="no-cache">
		<meta http-equiv="expires" content="0">
		<meta http-equiv="keywords" content="Jflyfox博客">
		<meta http-equiv="description" content="Jflyfox博客">
		
		<link rel="stylesheet" href="static/web/header.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="static/web/home.css" type="text/css" media="screen, projection">
		
		<% include("/static/component/include/jquery.html"){} %>
		<script type="text/javascript" src="pages/web/show_person.js"></script>
		<style>
		.item-content .right_td {
			white-space: nowrap;
			float: right;
			font-size: 14px;
			font-weight: normal;
			color: #333;
		}
		
		.item-content .left_td {
			white-space: nowrap;
			font-size: 14px;
			font-weight: normal;
			color: #333;
		}
		
		</style>
		
<% }; var bodyContent = { %> <% include("/pages/web/home_header.html"){}
%>

	<div class="x-page-container">
		<div class="mod-diary">
			<div class="mod-diary-top"></div>
			<div class="mod-diary-inner">
				<div class="mod-diary-pen"></div>
				<div class="mod-diary-nav"></div>
				<div class="mod-diary-clip"></div>
				<div class="mod-topspaceinfo">
					<h1>
						<a class="space-name" href="javascript:void(0);">个人信息</a>
					</h1>
				</div>
	
				<div class="mod-bloglist">
					<div class="mod-blogitem">
						<div class="box-postdate"></div>
						<div class="item-title">
							<a href="javascript:void(0);"></a>
						</div>
						
						<form name="form1" action="" method="post">
						<input type="hidden" name="model.userid" value="${model.userid}" />
						
						<div class="item-content" style="margin-left: 350px;">
							<table>
								<tr>
									<td class="right_td">登陆名：</td>
									<td class="left_td">${model.username!''}</td>
								</tr>
								<tr>
									<td class="right_td">姓名：</td>
									<td class="left_td"><input name="model.realname"
										value="${model.realname!''}"></td>
								</tr>
								<% if(model.usertype!=4) { %>
								<tr>
									<td class="right_td">原始密码：</td>
									<td class="left_td"><input name="old_password" type="password"
										value=""></td>
								</tr>
								<tr>
									<td class="right_td">新密码：</td>
									<td class="left_td"><input name="new_password" type="password"
										value=""></td>
								</tr>
								<tr>
									<td class="right_td">再次密码：</td>
									<td class="left_td"><input name="new_password2" type="password"
										value=""></td>
								</tr>
								<% } %>
								<tr>
									<td class="right_td">email：</td>
									<td class="left_td"><input name="model.email"  type="EMAIL"
									 value="${model.email!''}"></td>
								</tr>
								<tr>
									<td class="right_td">手机号：</td>
									<td class="left_td"><input name="model.tel"
									 value="${model.tel!''}"></td>
								</tr>
								<tr>
									<td class="right_td">头像地址：</td>
									<td class="left_td"><input name="model.title_url"
									 value="${model.title_url!''}"></td>
								</tr>
								<tr>
									<td class="right_td">备注：</td>
									<td class="left_td"><textarea rows="3" cols="30"
									 name="model.remark">${model.remark!''}</textarea></td>
								</tr>
								<tr>
									<td colspan="2" style="text-align: center;">
										<input type="button" value="保 存"  class="btn" onclick="oper_save();"/>
										&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="重 置"  class="btn" />
									</td>
								</tr>
								<tr>
									<td colspan="2" style="text-align: left;font-size: 14px;color: green;padding-top: 10px;">
										1. 修改基本信息需要输入原始密码。<br>
										2. 修改密码需要输入原始密码、新密码。
									</td>
								</tr>
							</table>
						</div>
						
						</form>
					</div>
				</div>
			</div>
			<div class="mod-diary-bottom"></div>
		</div>
	</div>
<%}; %> 

<%
layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){
%> 
<%} %>
