<% 
	var headContent = {
%>
	<base href="${BASE_PATH }">
	<title>Jflyfox博客</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="icon" href="favicon.ico" />
	<link rel="shortcut icon" href="favicon.ico" />
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="keywords" content="Jflyfox博客">
	<meta http-equiv="description" content="Jflyfox博客">

	<link rel="stylesheet" href="static/web/header.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="static/web/home.css" type="text/css" media="screen, projection">

	<% include("/static/component/include/jquery.html"){} %>
	<script type="text/javascript" src="pages/web/home.js"></script>
	<script type="text/javascript" src="pages/web/web_common.js"></script>
	<script type="text/javascript" src="pages/web/show_message.js"></script>
<%
};

var bodyContent = {
%>
<%  include("/pages/web/home_header.html"){} %>	
	
	<div class="x-page-container">
		<div class="mod-diary">
			<div class="mod-diary-top"></div>
			<div class="mod-diary-inner">
				<div class="mod-diary-pen"></div>
				<div class="mod-diary-nav"></div>
				<div class="mod-diary-clip"></div>
				<div class="mod-topspaceinfo">
					<h1>
						<a class="space-name" href="javascript:void(0);">我的消息</a>
					</h1>
				</div>

				<div class="mod-bloglist" id="article_comment">
					<div class="mod-blogcommentitem" style="margin-top: 100px;">
				
					<div class="comment-list">
					
						<% for(comment in listComment){ %>
						<div class="comment-item" id="${comment.id}_${comment.article_id}">
							<div class="item-top ${comment.status=='1' ? 'comment-read':''}" >
								<% var user = flyfox.getUser(comment.create_id);  %>
								<a href="#"><img width="32" height="32" alt="头像" class="img_radius"
									src="${user.title_url!'static/images/user/user.png'}" /></a>
								<a href="web_article/${comment.article_id}#article_comment" target="_blank" class="user-name">${comment.title}</a>
								<span class="comment-txt">文章中：</span>
								<a href="web_article/user/${comment.create_id}" target="_blank" class="user-name">${flyfox.getUserName(comment.create_id)}</a>
								<% if(comment.reply_userid > 0) { %>
								<span class="comment-txt">回复</span>
								<a href="web_article/user/${comment.reply_userid}" target="_blank" class="user-name">${flyfox.getUserName(comment.reply_userid)}</a>
								<% } %>
								<br>
								<span>${comment.content}</span>
							</div>
							<div class="item-bottom">
								<span>${comment.create_time}</span>
								<% if(!isEmpty(session.session_user) && comment.create_id==session.session_user.userid){ %>
									<a href="javascript:comment.oper_del(${comment.id},${comment.article_id});" style="float: right;">删除</a>
								<% } %>
								<% if(!isEmpty(session.session_user) && comment.create_id!=session.session_user.userid){ %>
									<a href="javascript:oper_reply_comment(${comment.create_id},'${flyfox.getUserName(comment.create_id)}');" style="float: right;">回复</a>
								<% } %>
							</div>
						</div>
						<%  } %>
						
					</div>
					
					</div>
					
				</div>
				
			</div>
			<div class="mod-diary-bottom"></div>
		</div>
	</div>
	
	<a id="scrollTop" href="javacript:void(0);" title="返回顶部" style="display: inline;"></a>
<%}; %>


<% layout("/pages/template/_layout.html",{head:headContent,body:bodyContent}){ %>
<%} %>
